@font-face { font-family: 3M Circular; 
    src: url('3MCircularTT-Regular.ttf') format(tff); 
  
  } 

body{
   margin: 0px;
   overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
font-size: 12px;
font-family: '3M Circular TT';
  
}
button.main {
  background-color: red;
}
table{

color:black;
font-size: 12px;
}

 
table.dataTable thead tr {
  font-size: 13px;
  font-style: normal;
  background-color: #E4E6E4;
  color: #595959
}

th{
  font-weight:normal;
}

.pagination .page-item.active .page-link { 
  border-color:#691f95;
  background-color: #8228b4; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
background-color: #8228b4;
}
td.dt-control {
  text-align:center;
  font-size:24px;
  color:black;
  cursor: pointer;
}

.pagination .page-item.active .page-link:hover {
  border-color:#691f95;
background-color: #691f95;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8228b4 !important;
  border-color: #8228b4 !important;
  cursor:pointer
}
.page-link {
  color: black;
}

table.dataTable tbody td {
  vertical-align: middle;
}

 .thumbnail {
  width: 150px;
  height: auto;
}
example tbody tr td.my-pointer {
  cursor: pointer;
}