@font-face {
  font-family: 3m Circular;
  src: url("3MCircularTT-Regular.ttf") format(tff);
}

body {
  margin: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-family: "3M Circular TT", sans-serif;
}
button.main {
  background-color: red;
}
td.compact {
  padding: 0px;
}

table {
  color: black;
  font-size: 12px;
}

table.dataTable thead tr {
  font-size: 13px;
  font-style: normal;
  background-color: #e4e6e4;
  color: #595959;
  border: 1px solid #595959;
}
/* .smallTable {
  background-color: #bbbcbd;
} */
.table.table.subTable {
  border: 1px solid #dee2e6;
}
th {
  font-weight: normal;
}

.pagination .page-item.active .page-link {
  border-color: #691f95;
  background-color: #8228b4;
}

div.dataTables_wrapper
  div.dataTables_paginate
  ul.pagination
  .page-item.active
  .page-link:focus {
  background-color: #8228b4;
}
td.dt-control {
  padding: 0px;
  text-align: center;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.pagination .page-item.active .page-link:hover {
  border-color: #691f95;
  background-color: #691f95;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8228b4 !important;
  border-color: #8228b4 !important;
  cursor: pointer;
}
.page-link {
  color: black;
}

table.dataTable tbody td {
  vertical-align: middle;
}

.thumbnail {
  width: 150px;
  height: auto;
}
#example tbody tr td.my-pointer {
  cursor: pointer;
}

.highlight {
  background-color: #ffefcb;
}
.highlight-green {
  background-color: #d8e9ca;
}
.highlight-draft {
  background-color: #ffefca;
}
.highlight-confirmed {
  background-color: #d8e9ca;
}
.highlight-submitted {
  background-color: #dae4fd;
}
.bool-gray {
  color: #adadad;
}

td.no-highlight {
  background-color: white;
}

/* dataTables CSS modification & positioning */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 0 !important;
  content: "" !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0 !important;
  content: "" !important;
}

table.dataTable thead th {
  position: relative;
  background-image: none !important;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute !important;
  /* top: 12px !important; */
  right: 8px !important;
  display: block !important;
  font-family: FontAwesome !important;
}
table.dataTable thead th.sorting:after {
  content: "" !important;
  font-size: 1em !important;
  padding-top: 0.12em !important;
}
table.dataTable thead th.sorting_asc:after {
  content: "\f0de" !important;
  opacity: 1;
}
table.dataTable thead th.sorting_desc:after {
  content: "\f0dd" !important;
  opacity: 1;
}
.dataTables_scrollHeadInner {
  background-color: #e4e6e4;
}
